
#paris-container canvas,
#paris-container #slider-container {
	display: none;
}


#content.paris:hover ~ .tab-content #paris-container canvas,
#content.paris:hover ~ .tab-content #paris-container #slider-container,
#paris-container:hover canvas,
#paris-container:hover #slider-container {
	display: block;
}


#paris-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
	height: 10%; 
	padding: 20px; 
}


#paris-container canvas {
	display: block;
	margin: 10px auto; 
}


#slider-container {
	width: 60%; 
	margin-top: 20px;
	position: relative;
	margin: 0 auto; 
}

#slider {
	width: 100%;
	appearance: none;
	height: 6px; 
	background: white; 
	border-radius: 5px;
	outline: none;
}

#slider::-webkit-slider-thumb {
	appearance: none;
	width: 14px;
	height: 14px;
	background: #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

#slider::-moz-range-thumb {
	width: 14px;
	height: 14px;
	background: #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

#slider-value {
	font-size: 16px;
	text-align: center;
	margin-top: 10px;
}
