/* navigation.css */
.arrow-nav {
	display: flex; /* Flex-Layout für die Pfeile */
	justify-content: space-between; /* Verteilung des Abstands zwischen den Pfeilen */
	margin-top: 150px; /* Abstand nach oben anpassen, um die Pfeile weiter nach unten zu verschieben */
	margin-left: -350px; /* Abstand der Pfeile anpassen */
}

.arrow {
	background-color: transparent; /* Hintergrund entfernen */
	color: black; /* Textfarbe für die Pfeile */
	border: none; /* Rand entfernen */
	padding: 20px; /* Größere Fläche für die Pfeile */
	cursor: pointer;
	font-size: 60px; /* Pfeilgröße erhöhen */
	transition: color 0.3s; /* Sanfter Übergang für die Farbe beim Hover */
}

.arrow:hover {
	color: white; /* Farbe beim Hover ändern */
}
