body {
	font-family: "Lato", sans-serif;
}

.sidenav {
	height: 100%;
	width: 250px; /* Increased width */
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: green; /* Green background */
	overflow-x: hidden;
	transition: 0.5s;
	transform: translateX(-100%);
}

.sidenav a {
	padding: 20px;
	text-decoration: none;
	font-size: 25px;
	color: #fff;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	background-color: #4caf50; /* Darker green on hover */
}

#main {
	transition: margin-left 0.5s;
}

.open-menu {
	transform: translateX(0);
}
