table {
	border: 1px solid rgba(255, 255, 255, 0.163);
	border-collapse: collapse;
	height: calc(100% - 25px);
	margin: 0 12.5px;
	table-layout: relative;
	width: auto;
	height: auto;
	font-size: 1rem;
	text-align: left;
	margin-top: -50px;
}

/* Table row styling */
tr {
	border: 1px solid rgba(255, 255, 255, 0.163);
}

/* Table data cell styling */
td {
	border: 1px solid rgba(255, 255, 255, 0.163);
}

/* Center text in table cells */
td {
	text-align: left;
	vertical-align: middle;
	padding: 25px;
}
