/* tabs.css */
.container label {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.8s cubic-bezier(0.11, 0.65, 0.04, 1);
	position: relative;
	color: white;
	font-weight: 400;
	font-size: 1.5rem;
	flex: 1; /* Standardmäßige Breite der anderen Tabs */
}

/* p {
	animation: coolAnimation 2s;
}

@keyframes coolAnimation {
	0% {
		transform: scale(1);
		opacity: 0;
	}
	50% {
		transform: scale(1.1);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
} */

.container label:nth-child(1) {
	background: #e4e4e4; /* Base */
	flex: 2; /* Macht diesen Tab 10-mal breiter im normalen Zustand */
}
.container label:nth-child(1):hover {
	background: #c5c5c5; /* Lighter Shade */
}
.container label:nth-child(1):active {
	background: #9d9d9d; /* Darker Shade */
}

.container label:nth-child(2) {
	background: #4508f5; /* Han Purple */
	opacity: 0.7; /* Adjust opacity */
}
.container label:nth-child(2):hover {
	background: #5024f5; /* Han Purple */
	opacity: 0.9; /* Adjust opacity */
}
.container label:nth-child(2):active {
	background: #9592f3; /* Han Purple */
}

.container label:nth-child(3) {
	background: #d9333f; /* Base */
	opacity: 0.8;
}
.container label:nth-child(3):hover {
	background: #e35470;
	opacity: 0.9; /* Lighter Shade */
}
.container label:nth-child(3):active {
	background: #e7a8ba; /* Darker Shade */
}

.container label:nth-child(4) {
	background: #36754d;
	opacity: 0.8;
}
.container label:nth-child(4):hover {
	background: #6fa48a;
	opacity: 0.9; /* Lighter Shade */
}
.container label:nth-child(4):active {
	background: #96bcab;
}

/* .container label:nth-child(3) {
	background: #e35470; 
	opacity: 0.8;
}
.container label:nth-child(3):hover {
	background: #e5889f;
	opacity: 0.9; 
}
.container label:nth-child(3):active {
	background: #e7a8ba; 
} */
