/* Animation beim Laden der Seite */
body {
  overflow: hidden;
}
@keyframes loadAnimation {
  0% {
    transform: translateX(-100%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

svg {
  animation: loadAnimation 1s ease-out;
}

/* Animation beim Klicken */
@keyframes clickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

rect.clicked {
  animation: clickAnimation 0.9s ease;
}

rect:nth-child(odd) {
  animation: loadAnimationFromLeft 1s ease-out;
}

rect:nth-child(even) {
  animation: loadAnimationFromRight 1s ease-out;
}

@keyframes loadAnimationFromLeft {
  0% {
    transform: translateX(-100%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes loadAnimationFromRight {
  0% {
    transform: translateX(100%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

rect:hover {
  fill: #e35470;
}

/* Allgemeine Schriftart */
body, svg {
  font-family: "Inter", sans-serif;
}

/* Textstile für die Treemap */
text {
  fill: #000; /* Schwarzer Text für bessere Sichtbarkeit */
  font-size: 14px;
  font-weight: bold;
}

/* Container-Eigenschaften */
#treemap-container {
  margin: 0 auto;
  text-align: center;
}

/* Prozentanzeige */
#percentage-output {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}
