body {
    font-family: 'Inter', sans-serif;
}

#chart-container {
    width: 700px;
    height: 700px;
    margin: 0 auto;
    position: relative;
}

#percentage-output {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.axis path,
.axis line {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 12px;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    font: 16px sans-serif;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    color: #000;
}
