body {
    overflow-x: hidden; /* Verhindert horizontales Scrollen */
    overflow-y: hidden; /* Verhindert vertikales Scrollen, wenn nicht gewünscht */
}

.header {
	padding: 20px;
}

.header h1 {
	font-size: 50px;
	margin: 0;
}

.header p {
	font-size: 20px;
	margin: 0;
}

.header .count {
	font-size: 30px;
	margin-top: 10px;
}

.city .container {
	display: flex;
	justify-content: space-evenly;
}

.widget {
	border: 5px solid rgba(0, 0, 0, 0.5);
	padding: 50px;
	width: 150px;
	height: 150px;
	text-align: left;
	font-size: 30px;
	cursor: pointer;
	border-radius: 10px;
	transition: 0.3s;
	margin: 16px; /* Abstand zwischen den Boxen */
}

.widget:hover {
	box-shadow: 0 0 5px black;
	border: 1px solid rgba(0, 0, 0, 0.5);
	animation: wiggle 0.3s ease-in-out;
}

/* Wackel-Animation für das Widget-Hover */
@keyframes wiggle {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-5deg);
	}
	50% {
		transform: rotate(5deg);
	}
	75% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/* Modal Styles */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100vw; /* hier ist noch was falsch */
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.15);
}

.modal-content {
	background-color: white;
	margin: 0 auto;
	padding: 100px;
	width: 75vw; /* 50% minus 100px padding (50px on each side) */
	height: 75vh; /* 50vh minus 100px padding (50px on each side) */
	text-align: left;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box; /* Include padding in width and height */
}

.close {
	color: black;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 50px;
	cursor: pointer;
}